body{
    margin: auto;
    font-size: 1.5em;
}

form{
    text-align: center;
    margin-top: 10%;
}

button{
    cursor: pointer;
    background-color: darkslategray;
    width: 8rem;
    height: 3rem;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 2.5%;
}

#colorized {
    font-size: 2em;
    text-align: center;
    margin-top: 10%;
    font-weight: bold;
}

.color1 {
    color: orange;
}

.color2 {
    color: darkblue;
}

.color3 {
    color: green;
}
