body {
  background: #352f5b;
  color: white;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
}

select {
  margin: 0 auto;
  margin-left: 46.5%;
  margin-top: 3%;
  font-size: 1.1rem;
}

#submit {
  border-radius: 5%;
  border: none;
  border-radius: 3%;
  font-size: 1.4rem;
  cursor: pointer;
  color: #352f5b;
  font-weight: bold;
}

.form-section {
  margin-top: 5%;
  font-size: 2rem;
}

.form {
  margin: 0 auto;
  max-width: 450px;
  display: flex;
  justify-content: space-evenly;
}

#list {
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  max-width: 800px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px #ccc solid;
  padding: 1%;
  margin-top: 2%;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
}

.delete {
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  background: #352f5b;
  color: white;
}

.fa-regular,
.far {
  font-weight: 900 !important;
}

.validated {
  text-decoration: line-through;
  background-color: #352f5b;
  opacity: 75%;
}

.fa-check {
  cursor: pointer !important;
}

.task-item {
  width: 80%;
}

#input-edit {
  font-size: 1rem;
}

#validEdit {
  background: #fff;
  color: #352f5b;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  margin-left: 1%;
}
